<div class="container-fluid" data-controller="showing-search">
  <div class="row g-4">
    <!-- FILTER SIDEBAR -->
    <aside class="col-lg-3">
      <%= render "shared/filters",
             cinemas: @cinemas,
             languages: @languages,
             controller_name: "showing-search" %>
    </aside>
    <!-- MAIN CONTENT -->
    <section class="col-lg-9">
      <!-- DATE SEARCH -->
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <%= form_with url: showings_path,
                        method: :get,
                        class: "d-flex",
                        data: { target: "showing-search.form" } do |f| %>
            <%= f.text_field :opening_date,
                  value: params[:dates],
                  placeholder: "Select dates",
                  class: "form-control me-2",
                  data: { controller: "datepicker" },
                  id: "dates" %>
            <%= submit_tag "Search", class: "btn btn-primary d-none" %>
          <% end %>
        </div>
      </div>
      <!-- SHOWINGS GRID -->
      <div id="search-results" class="row row-cols-1 row-cols-md-2 g-4">
        <% previous_date = nil %>
        <% @showings.each do |showing| %>
          <% if showing.date != previous_date %>
            <div class="col-12">
              <%= render "shared/showing_date", date: showing.date %>
            </div>
            <% previous_date = showing.date %>
          <% end %>
          <div class="col">
            <%= render "shared/movie_showing", showing: showing %>
          </div>
        <% end %>
      </div>
      <!-- PAGINATION -->
      <div class="d-flex justify-content-center mt-4">
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </section>
  </div>
</div>
