<div class="container-fluid">
  <div class="movie-edit">
    <div class="update-sections">
      <h2>Current Movie</h2>
      <%= render "shared/movie_card", movie: @movie %>
      <% if @movie.showings[0] %>
        <p><%= link_to "Cinema website 1", @movie.showings[0].cinema.schedule, target: "_blank" %></p>
      <% end %>
      <% if @movie.showings[-1] && (@movie.showings[-1].cinema != @movie.showings[0].cinema) %>
        <p><%= link_to "Cinema website 2", @movie.showings[-1].cinema.schedule, target: "_blank" %></p>
      <% end %>
    </div>
    <div data-controller="tmdb-api-search" class="update-sections" >
      <h2>Movie Options</h2>
      <h5>Scraped Title: <%= @movie.web_title %></h5>
      <%= form_with(model: @movie, url: movie_path(@movie), local: true, method: :patch) do |form| %>
        <div data-action="keyup->tmdb-api-search#search">
          <%= form.text_field :runtime, value: "", placeholder: "Enter TMDB ID here", data: { "tmdb-api-search-target": "input" } %>
        </div>
        <%= form.submit "Update With Found Movie", class: "btn btn-secondary" %>
      <% end %>
      <div data-action="keyup->tmdb-api-search#name">
        <div style="margin-top: 5px" >
          <input type="text" id="movie_runtime", placeholder="Enter Movie Name here", data-tmdb-api-search-target="name" >
        </div>
        <div data-tmdb-api-search-target="newMovie" style="background: #4169E1; padding: 4px; border-radius: 5px">
          <div class="movie-card">
            <div class="movie-poster">
              <img src="https://media.themoviedb.org/t/p/w600_and_h900_bestv2/fGbduH5p0ABftecVweJX9xQLSEr.jpg" alt="Movie Poster" style="height: 171px; object-fit: cover;">
            </div>
          </a>
          <div class="movie-card-text">
            <div class="movie-card-heading">
              <div>
                <h4>Placeholder</h4>
              </div>
              <div class="language-tag">
                Language
              </div>
            </div>
            <div>
              <p>Release Date: TBD...</p>
            </div>
          </div>
        </div>
      </div>
      <%= form_with(model: @movie, url: movie_path(@movie), local: true, method: :patch) do |form| %>
        <%= form.submit "Replace with Blank Template", class: "btn btn-info" %>
      <% end %>
      <% if @temps %>
        <% @temps.each do |movie| %>
          <%= render "shared/movie_card", movie: movie %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
