<div class="container-fluid">
  <div class="movie-index"  data-controller="search">
    <div class="checkboxes">
      <h5>Cinemas</h5>
      <div class="checkbox-section">
        <% @cinemas.each do |cinema| %>
          <label>
            <%= cinema.name %> <input type="checkbox" data-action="click->search#cinema" data-cinema="<%= cinema.name %>" name="filter_cinema" value="<%= cinema.name %>">
          </label><br>
        <% end %>
      </div>
      <h5>Languages</h5>
      <% @languages.uniq.sort_by(&:to_s).each do |language| %>
        <label>
          <%= "#{language} (#{@languages.count { |lang| lang == language }})" %> <input type="checkbox" name="filter_language" value="<%=language%>">
        </label><br>
      <% end %>
    </div>
    <div>
      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: movies_path, method: :get, class: "d-flex", data: { target: "search.form" } do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              id: "search-box",
              style: "min-width: 300px",
              placeholder: "Type the name of a film or director"
          %>
            <%= submit_tag "Search", name: "", class: "btn btn-warning" %>
          <% end %>
        </div>
      </div>
      <div id="search-results">
        <% @movies.each do |movie| %>
          <%= render "shared/movie_card", movie: movie %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
