<div class="container-fluid">
  <div class="movie-index"  data-controller="search">
    <div class="checkboxes">
      <h5>Cinemas</h5>
      <div class="checkbox-section">
        <% @cinemas.each do |cinema| %>
          <input class="hide-checkbox" id="<%=cinema.name%>" type="checkbox" data-action="click->search#cinema" data-cinema="<%= cinema.name %>" name="filter_cinema" value="<%= cinema.name %>">
          <label for= "<%=cinema.name%>" ><%= cinema.name %>
          </label>
        <% end %>
      </div>
      <h5>Languages</h5>
      <% @languages.uniq.sort_by(&:to_s).each do |language| %>
        <input class="hide-checkbox" id="<%= language %>" type="checkbox" data-action="click->search#cinema" data-language="<%=language%>" name="filter_language" value="<%=language%>">
        <label for="<%= language %>"><%= "#{language} (#{@languages.count { |lang| lang == language }})" %>
        </label><br>
      <% end %>
    </div>
    <div>
      <div class="row justify-content-center mx-3">
        <div class="col-sm-8 my-3" style="min-width: 100%">
          <%= form_with url: movies_path, method: :get, class: "d-flex border border-primary", data: { target: "search.form" } do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              id: "search-box",
              style: "min-width: 300px",
              placeholder: "Type the name of a film or director"
          %>
            <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div id="search-results">
        <div class="movie-grid">
          <% @movies.each do |movie| %>
            <%= render "shared/movie_poster_view", movie: movie %>
            <br>
          <% end %>
        </div>
        <div class="pagy">
          <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
      </div>
    </div>
  </div>
</div>
