<div class="container-fluid">
  <div class="movie-show-container">
    <div class="main-section">
      <div class="movie-poster-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "#{@movie.poster}" %>)">
      </div>
      <div class="search-side">
        <div>
          <div class="showing-movie-name">
            <%= @movie.name %>
          </div>
          <%= "Year: #{@movie.year}" %></br>
        <%= "Language: #{@movie.language}" %></br>
      <%= "Director: #{@movie.director}" %></br>
    <%= "Cast:" %></br>
  <% @movie.cast[0..5].each do |cast| %>
    <%= "#{cast}" %></br>
<% end %>
</br>
<%= "Overview: #{@movie.description}" %>
</div>
<% @movie.cinemas.uniq.each do |cinema| %>
  <div class="movie-showing">
    <%= link_to cinema_path(cinema.id) do %>
      <div class="showing-cinema-name">
        <%= cinema.name %>
      </div>
    <% end %>
    <div>
      <% @movie.showings.where(cinema_id: cinema).sort_by { |movie| movie.date }.each do |day| %>
        <div class="showing-time-info">
          <div class="showing-date"><%= day.date %>
          </div>
          <% day.times.each_with_index do |time, index| %>
            <% if index == (day.times.to_a.size - 1) %>
              <div class="showing-time-final">
                <%= time %>
              </div>
            <% else %>
              <div class="showing-time">
                <%= time %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>
</div>
<%= render "shared/carousel" %>
</div>
</div>
