<div class="main-section">
  <div class="movie-poster-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "#{@movie.poster}" %>)">
  </div>
  <div class="search-side">
    <div>
      <h2><%= @movie.name%></br></h2>
    <%= @movie.year%></br>
  <%= @movie.description%>
</div>
<%= @movie.year%>
<div>
</div>
</div>
</div>
