<!-- shared/_filters.html.erb -->
<div class="filters-sticky">
  <div class="card shadow-sm mb-4">
    <div class="card-header fw-bold">Filters</div>
    <div class="card-body">
      <h6 class="text-muted mb-2">Cinemas</h6>
      <div class="list-group mb-3">
        <% cinemas.each do |cinema| %>
          <label class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <input
                class="form-check-input me-2"
                id="<%= cinema.name %>"
                type="checkbox"
                data-action="click-><%= controller_name %>#cinema"
                data-cinema="<%= cinema.name %>"
                name="filter_cinema"
                value="<%= cinema.name %>">
                <%= cinema.name %>
              </div>
              <span class="badge bg-secondary">
                <%= cinema.showings.count %>
              </span>
            </label>
          <% end %>
        </div>
        <h6 class="text-muted mb-2">Languages</h6>
        <div class="list-group">
          <% languages.uniq.sort.each do |language| %>
            <label class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <input
                class="form-check-input me-2"
                id="<%= language %>"
                type="checkbox"
                data-action="click-><%= controller_name %>#cinema"
                  data-language="<%= language %>"
                  name="filter_language"
                  value="<%= language %>">
                  <%= language %>
                </div>
                <span class="badge bg-secondary">
                  <%= languages.count { |lang| lang == language } %>
                </span>
              </label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
