<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQErDTZupeGgnZUdFfsWHpvko8o3-sFir9TJg&usqp=CAU", style: "width: 40%; height: auto; border-radius: 5px; margin: 24px;" %>
          <p>
            Find movies in your neighbourhood, in your language
          </p>
          <p><a href="<%= about_path %>">About</a></p>
        </div>
        <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <h3>Contact</h3>
          <p><i class="fas fa-map-marker-alt"></i> Kawasaki, Mon Amour</p>
          <p><i class="fas fa-envelope"></i> Email: <a href="mailto:info@eventcompass.com">hello@kantomovies.com</a></p>
          <%= link_to "https://www.themoviedb.org/", target: "_blank" do %>
            <%= image_tag "https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg", alt: "Link to the TMDB", style: "border-radius: 5px; margin: 24px;" %>
          <% end %>
          <%# <%= link_to update_path do %>
            <%# <%= image_tag "https://b5digital.dk/wp-content/uploads/2021/03/software-update.jpg", alt: "Link to the TMDB", style: "border-radius: 5px; height: 80px; width: auto; margin: 24px;" %>
          <%# <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
