<%= link_to movie_path(movie), class: "text-decoration-none movie-card-link" do %>
  <div class="movie-card">
    <% if movie.poster.present? && !movie.poster.include?("Question_mark") %>
      <img
        src="<%= movie.poster %>"
        alt="<%= movie.name %>"
        class="movie-poster-img">
      <% else %>
        <div class="movie-poster-placeholder">
          <span><%= movie.name %></span>
        </div>
      <% end %>
      <div class="poster-overlay">
        <div class="poster-title">
          <%= movie.name %>
        </div>
      </div>
    </div>
  <% end %>
