<div class="movie-card">
  <% if !movie.director.nil? %>
    <a href="/movies/<%= movie.id %>">
    <% end %>
    <div class="movie-poster">
      <img src="<%= "#{movie.poster}" %>" alt="Movie Poster">
    </div>
  </a>
  <div class="movie-card-text">
    <div class="movie-card-heading">
      <div>
        <h4>
          <%= "#{movie.name}" %></h4>
      </div>
      <% if !movie.language.nil? %>
        <div class="language-tag">
          <%= "#{movie.language}" %>
        </div>
      <% end %>
      <% # </div> %>
    </div>
    <div>
      <p><%= "#{movie.year}" %></p>
      <% if !movie.director.nil? %>
        <p><%= "Director: #{movie.director}" %></p>
        <p><%= "Cast: #{movie.cast[0]}, #{movie.cast[1]}, #{movie.cast[2]}" %></p>
      <% end %>
    </div>
  </div>
</div>
