<%= render "shared/banner" %>
<div class="container">
  <div class="main-section">
    <div class="top-picks">
        <h1>Top Picks</h1>
      <div>
        <% @movies.select { |movie| movie.year < 1990 }.sort_by { |movie| -movie.popularity }.each do |movie| %>
          <div class="movie-card">
            <div class="movie-poster" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "#{movie.poster}" %>)">
            </div>
            <div class="movie-card-text">
              <div class="movie-card-heading">
              <div><h4>
                <%= "#{movie.name}" %></h4></div>
            <div class="language-tag">
              <%= "#{movie.language}" %>
            </div>
            <% # </div> %>
            </div>
            <div>
              <p><%= "#{movie.year}" %></p>
              <p><%= "Director: #{movie.director}" %></p>
              <p><%= "Cast: #{movie.cast[0]}, #{movie.cast[1]}, #{movie.cast[2]}" %></p>
            </div>
  </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="search-side">
      <div>search bar?
      </div>
      <div>results?
      </div>
    </div>
  </div>
</div>
