<div class="container-fluid">
  <div class="cinema-show-container">
    <div class="cinema-header">
      <h1><%= @cinema.name %></h1>
    </div>
    <p><%= @cinema.description %></p>
    <p>Address:</p>
    <p><%= @cinema.location %></p>
    <p><%= link_to "Cinema website", @cinema.url, target: "_blank" %></p>
    <div class="movie-grid">
      <% @cinema.movies.select { |movie| movie.hide == false }.uniq.sort_by { |movie| movie.name }.each do |movie| %>
        <%= render "shared/movie_poster_view", movie: movie %>
        <br>
      <% end %>
    </div>
    <div class="cinema-map">
      <iframe src="<%= @cinema.map %>" width="100%" height="100%" style="border:0; padding: 0; margin: auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
