<div class="container-fluid">
  <div class="cinema-show-container">
    <div class="cinema-header">
      <h1><%= @cinema.name %></h1>
    </div>
    <p><%= @cinema.description %></p>
    <p>Address:</p>
    <p><%= @cinema.location %></p>
    <p><%= link_to "Cinema website", @cinema.url, target: "_blank" %></p>
    <div class="movie-grid">
      <% @cinema.movies.uniq.each do |movie| %>
        <div class="cinema-movie">
          <%= link_to movie_path(movie.id) do %>
            <div class="movie-poster-cinema" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "#{movie.poster}" %>)">
            </div>
            <div class ="movie-title">
              <h5><%= movie.name%></h5>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="cinema-map">
      <iframe src="<%= @cinema.map %>" width="100%" height="100%" style="border:0; padding: 0; margin: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
